body{
	margin-top: 60px;
}

#sentence-division{
	margin-top: 15px;
}

.wordlist-division{
	margin-top: 15px;	
}

#sentence{
	width: 100%;
	height: 500px;
	font-size: 16px;
}

.hero-unit{
	padding-top: 30px;
	padding-bottom: 30px;
}
.body-container{
	width: 1170px;
}

ul.word-list{
	list-style: none;
	font-size: 16px;
}

.hero-unit li{
	line-height: 25px;
}

iframe.dic-iframe{
	width: 100%;
}

/*#word:hover{
	color: #cfcfcf;
}*/

.disappear{
	display: none;
}